body {
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
    font-weight: 400;
}

.home-cateogry-tiles {
    /* padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 400; */
    
}

.home-category-tiles-title {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: .25px;
    margin-right: -0.25px;
    font-weight: 700;
    padding-bottom: 1rem;
    margin-top: 25px;
    margin-bottom: 15px;
}

.tile-group {
    display: grid;
    grid-template-columns: repeat(4,1.2fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;

}

.tile-group a {
    color: #39364f;
    font-weight:600;
    text-decoration: none; 
}

 .title {
    display: flex;
    flex-direction: row;
    height: 54px;
    width: 100%;
    border: 5px solid red;
    border-radius: 2px;
    border: 1px solid #eeedf2;
} 

.tile-icon {
    display: flex;
    align-items: center;
    width: 54px;
    background-color: #fdf7f5;
    justify-content: center;
    border-radius: 2px;
}

.orange-icon {
    color:#f05537;
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    background-size: contain;
    line-height: 0; 
    width: 24px;
    height: 24px;

}

.tile-name {
    background-color: #f8f7fa;
    font-weight: 600;
    font-size: 13px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

section.event-index-layout {
    display: block;

}

.index-layout-border {
    max-width: 1272px;
    margin: 0 auto;
    padding: 0 50px !important
}

.index-section-container {
    margin-top: 20px;
}

.event-card-container-outer-edge {
    padding: 16px;
    overflow: visible;
    width: 25%;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;

}