.liked-events-container {
    /* border: 1px green solid; */
    width: 80vw;
    height: 100%;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 20px;
    max-width: 1200px;
}

.liked-events-container > h1 {
    margin-bottom: 10px;
}

.ul-liked-event-list {
    padding: 0;
    list-style-type: none;
}

.like-list-item-container {
    display: flex;
    margin-bottom: 5px;
    /* border: 1px red solid; */
}

.like-list-item-container:hover {
    box-shadow: 0 10px 64px 16px rgb(46 55 77 / 20%);
}

.liked-event-info-container {
    width: 70%;

    display: flex;
    height: 20vh;
    text-decoration: none;
    font-size: .95rem;
    line-height: 1rem;
    font-weight: 350;
    /* border: 5px green solid; */
}

.liked-event-info-container a {
    text-decoration: none;
    color: #39364f;
}

.liked-event-right-container {
    width: 30%;
    /* border: 5px brown solid; */
    display: flex;
    flex-direction: column;
}

.liked-event-like-button-container {
    /* border: green 5px solid; */
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    margin-bottom: 10px;
}


.liked-event-image img {
    height: 90%;
    object-fit: cover;
    padding-right:10px;
}

.liked-event-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 5px purple solid; */
    /* height: 75%; */
    /* width: 100%;
    height: 75%; */
}

.liked-event-info {
    margin-left: 20px;
    overflow-wrap: break-word;
}

.liked-event-info h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: 500;
}

.liked-event-info p {
    color: #6f7287;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 5px;
}

p.liked-event-info-date {
    color: #d1410c;
    font-weight: 600;
    font-size: .925rem;
    line-height: 1.55rem;
    margin-top: 10px;
}


.liked-event-like-button-border {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    /* background-color: #f8f7fa; */
    border: .05rem rgba(57, 54, 79, .3) solid;
    /* top: -24px; */
    /* position: absolute; */
    right: 8px;
    display: flex;
    /* border: 1px orange solid; */
}

.liked-event-like-button-border {
    align-items: center;
    justify-content: center;
    z-index: 1;
    
}

.liked-event-like-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#like-icon-thickness {
    stroke-width:.05rem;
}

[id^="liked-event-button-icons"] {
    color: #d1410c;
}

